.text-inner.component-inner{
    border-radius: 0px 0px 30px 0px;
    
}
.returnclass{
    .text-inner.component-inner{
        padding: 0px;
          background-color:transparent;
        .text-body.component-body{
            border-radius: 0px 0px 30px 0px;
            background-color: @button-color;
            text-align: center;
            padding: 2em;
            a{
                font-size: 2em;
                text-align: center;
                color: white;
        text-decoration: none;
    } 
        }
      
    }
    }